@media (max-width: 1125px) {
	.mainvector {
		max-width: 650px;
		width: 100%;
	}
	.three-box {
		justify-content: center;
	}
	.team {
		margin-bottom: 30px;
	}
	.about-content {
		margin-top: 250px;
    }
	.paragraph-1 {
		font-size: 25px;
	}
	.button2 {
		text-align: center;
	}
	.content-div {
		justify-content: center;
		align-items: flex-start;
		padding-right: 50px;
		padding-left: 50px;
	}
	.hed-content {
		max-width: 300px;
		width: 100%;
	}
	.hed-content1 {
		max-width: 300px;
		width: 100%;
	}
	.project-box {
		max-width: 330px;
		width: 100%;
	}
	.three-members {
		flex-direction: column;
		margin: 0 auto;
    	max-width: 352px;
    	width: 100%;
	}
	.formdiv {
		max-width: 1000px;
		width: 100%;
	}
}
@media (max-width: 1070px) {
	.project {
		max-width: 300px;
		width: 100%;
	}
	.formdiv {
		max-width: 900px;
		width: 100%;
	}
}
@media (max-width: 1024px){
	.mainvector {
		max-width: 450px;
		width: 100%;
		object-fit: contain;
	}
	.content-div {
		max-width: 850px;
		width: 100%;
		margin: 0 auto;
	}
	.title-home {
		white-space: nowrap;
		font-size: 60px;
	}
	.about-h1 {
		font-size: 60px;
		white-space: nowrap;
	}
	.paragraph-1 {
		font-size: 25px;
	}
	.box {
		max-width: 380px;
		width: 100%;
	}
	.service-h3 {
		white-space: nowrap;
	}
	.project-parent {
		flex-wrap: wrap;
	}
	.one-project {
		white-space: nowrap;
		font-size: 32px;
	}
	.textarea {
		max-width: 500px;
		width: 100%;
	}
	.input-wraper {
		max-width: 500px;
		width: 100%;
	}
	.formdiv {
		display: flex;
		justify-content: center;
	}
	.three-box {
		max-width: 1023px;
		width: 100%;
	}
	.three-project {
		max-width: 1023px;
		width: 100%;
	}
	.project {
		object-fit: cover;
	}
}
@media (max-width: 960px) {
	.formdiv {
		max-width: 800px;
		width: 100%;
	}
	.three-project {
		flex-direction: column;
		max-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
	.project-box {
		margin-bottom: 50px;
	}
}
@media (max-width: 865px) {
	.hed-icons {
		display: none;
	}
	.bar-icon {
		display: block!important;
	}
	.navigation {
		display: none;
	}
	.navigation.open-menu {
		display: block!important;
	}
	.nav-div {
		display: flex;
		align-items: center;
	}
	.content-div {
		flex-wrap: wrap;
		justify-content: center;
	}
	.title-home {
		font-size: 70px;
    	text-align: center;
	}
	.about-h1 {
		font-size: 70px;
    	text-align: center;
	}
	.hed-content {
		max-width: 450px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.three-members {
		margin: 0 auto;
    	max-width: 352px;
    	width: 100%;
	}
	.top-text {
		margin-top: 190px;
	}
	/*.button1 {
		width: 150px;
	}*/
	.paragraph-1 {
		font-size: 30px;
		text-align: center;
	}
	.three-project {
		flex-direction: column;
	}
	.three-box {
		flex-direction: column;
		max-width: 295px;
		width: 100%;
		margin: 0 auto;
	}
	.formdiv {
		flex-direction: column;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	input {
		margin-left: 0;
	}
	.input-wraper {
		max-width: 500px;
		width: 100%;
	}
	textarea {
		margin-bottom: 16px;
	}

}
@media (max-width: 480px) {
	.mainvector {
		max-width: 450px;
		width: 100%;
		margin: 0 auto;
		margin-top: 80px;
	}
	.hed-icons {
		display: none;
	}
	.content-div {
		flex-wrap: wrap;
	}
	.bar-icon {
		display: block!important;
		cursor:pointer;
	}
	.hed-content {
		margin: auto;
		margin-top: 150px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.button1 {
		padding-right: 20px;
		padding-left: 20px;
	}
	.title-home {
		font-size: 60px;
	}
	.paragraph-1 {
		font-size: 20px;
		text-align: center;
		max-width: 400px;
		width: 100%;
	}
	.three-box {
		flex-wrap: wrap;
	}
	.box {
		margin: 0 auto;
	}
	.project-box {
		margin-bottom: 70px;
	}
	.pro-box {
		margin-bottom: 0px;
	}
	.formdiv {
		display: flex;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
	}
	input {
		margin-left: 0;
		margin-top: 16px;
	}
}
@media (max-width: 430px) {
	.sec-title {
		font-size: 50px;
	}
	.about-h1 {
		font-size: 50px;
	}
	.contact-h3 {
		font-size: 20px;
	}
	.cont {
		max-width: 371px;
		width: 100%;
	}
}
@media (max-width: 400px) {
	.cont {
		max-width: 325px;
		width: 100%;
	}
}
@media (max-width: 380px) {
	.title-home {
		font-size: 45px;
	}
	.about-h1 {
		font-size: 45px;
	}
	.sec-title {
		font-size: 45px;
	}
	.team-img {
		max-width: 300px;
		width: 100%;
	}
	.sec-title {
		font-size: 35px;
	}
	.name {
		font-size: 32px;
	}
}
@media (max-width: 350px) {
	.contact-h3 {
		font-size: 15px;
	}
}
@media (max-width: 320px) {
	.team-img {
		max-width: 250px;
		width: 100%;
	}
}