.bg-image {
	background-image: url(../img/header-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.logo {
	max-width: 80px;
	width: 100%;
}
.nav-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	width: 100%;
	color: transparent;
	z-index: 1;
	top: 0px;
	left: 0px;
}
.active-header {
	background-color: #E6E7E8 /*#D6E8F2*/;
}
.navul {
	display: flex;
}
.li-a {
	color: #2F365C;
	font-family: "DejaVu Sans", sans-serif;
	font-size: 21.2px;
	margin-right: 30px;
	transition: 0.3s linear;
}
.li-a:hover {
	color: #45CFEA;
}
.active {
	color: #45CFEA;
}
/*icons */
.icons-wraper {
	display: flex;
}
.hed-icons {
	display: flex;
}
.icon {
	font-size: 30px;
	color: #2F365C;
	margin-right: 20px;
	transition: 0.3s linear;
}
.icon:hover {
	color: #45CFEA;
}
.bar-icon {
	font-size: 30px;
	color: #2F365C;
	margin-right: 20px;
	display: none!important;
	cursor: pointer;
}
.hed-content {
	margin-top: 196px;
}
.title-home {
	color: #2F365C;
	font-size: 70px;
	font-family: 'Fredoka One', cursive;
	white-space: nowrap;
}
.top-text {
	margin-top: 190px;
}
.content-div {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.paragraph-1 {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 30px;
	color: #2F365C;
	max-width: 450px;
	width: 100%;
	margin-top: 30.58px;
}
.button1 {
	background-color: #45CFEA;
	border-radius: 30px;
	max-width: 150px;
	width: 100%;
	height: 58px;
	color: white;
	font-family: "DejaVu Sans", sans-serif;
	border: none;
	margin-top: 30.58px;
	font-size: 15px;
	transition: 0.3s linear;
}
.button1:focus {
	outline: none;
}
.content-div {
	display: flex;
	/*flex-wrap: wrap;*/
}
.mainvector {
	/*margin-left: 20px;*/
	max-width: 690px;
	width: 100%;
	margin-top: 117px;
}
.button1:hover {
	max-width: 160px;
	width: 100%;
	box-shadow: 2px 2px 5px #2F365C;
	background-color: #2F365C;
}

/*section1*/

.sec-title {
	color: #2F365C;
	font-size: 60px;
	font-family: "ArchyEDT-Bold", sans-serif;
	
}
.title-div {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;

}
.box-wraper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}
.box {
	max-width: 360px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.three-box {
	display: flex;
	max-width: 1124px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 21px;
}
.shape {
	background-color: #285575;
	max-width: 168px;
	width: 100%;
	height: 152px;
	border-radius: 42% 58% 50% 50% / 42% 32% 68% 58% ;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
}
.service-h3 {
	font-size: 35px;
	color: #2F365C;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-bottom: 15px;
}
.services-p {
	font-family: "DejaVu Sans", sans-serif;
	color: #2F365C;
	font-size: 17px;
	max-width: 246px;
	width: 100%;
	text-align: center;
}
.icon {
	max-width: 100px;
	width: 100%;
}
.send {
	margin-bottom: 40px;
	margin-top: 0px;
}
.button3 {
	text-align: center;
}

/*section2*/
.three-project {
	display: flex;
	max-width: 1124px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap!important;
}
.box:nth-child(1) {
	margin-bottom: 50px;
}
.box:nth-child(2) {
	margin-bottom: 50px;
}
.box:nth-child(3) {
	margin-bottom: 50px;
}
.project-parent {
	display: flex;
	max-width: 1124px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap!important;
}
.second {
	margin-top: 
}
.little-box {
	position: relative;
}
.project {
	max-width: 400px;
	width: 100%;
	height: 352px;
	border-radius: 50px;
}
.bg-div {
	border-radius: 50px;
	background-color: #285575;
	max-width: 352px;
	width: 100%;
	height: 352px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: -1;
}
.bg-div2 {
	background-color:  #45CFEA;
}
.project-p {
	font-family: "DejaVu Sans", sans-serif;
	color: #2F365C;
	font-size: 17px;
	max-width: 300px;
	width: 100%;
	text-align: center;
}
.one-project {
	font-size: 33px;
	color: #2F365C;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-bottom: 15px;
	margin-top: 24px;
}
.project-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 352px;
	width: 100%;
}
.project-box {
	margin-bottom: 50px;
}

/*form*/
.textarea {
	max-width: 536px;
	width: 100%;
	height: 219px;
	background-color: #EFEFEF;
	border-radius: 15px;
	outline: none;  
	color: 808080;
	font-family: "DejaVu Sans", sans-serif;
	padding-left: 30px;
	padding-top: 30px;
	border: none;
	resize: none;
}
input {
	max-width: 536px;
	width: 100%;
	height: 62.3px;
	background-color: #EFEFEF;
	font-family: "DejaVu Sans", sans-serif;
	padding-left: 43px;
	margin-left: 16px;
	border-radius: 15px;
	border: none;
	color: 808080;
	/*margin-left: 16px;*/
}
input:focus {
	outline: none;
}
input:nth-child(3),
input:nth-child(2) {
	margin-top: 16px;
}
input::placeholder {
	color: #285575;
	font-size: 15px;
}
textarea::placeholder {
	color: #285575;
	font-size: 15px;
	font-family: "DejaVu Sans", sans-serif;
}
.formdiv {
	display: flex;
	max-width: 1124px;
	width: 100%;
	margin: 0 auto; 
	padding-bottom: 50px;
}
/*.bg-down {
	background-image: url(../img/bg-down.png);
	background-color: red;
}
*/
/*About us*/
.about-h1 {
	color: #2F365C;
	font-size: 70px;
	font-family: "ArchyEDT-Bold", sans-serif;
	white-space: nowrap;
}
.name {
	font-size: 35px;
	color: #2F365C;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}
.profession {
	font-size: 25px;
	color: #45CFEA;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-bottom: 10px;
}
.description {
	max-width: 300px;
	width: 100%;
	text-align: center;
	font-family: "DejaVu Sans", sans-serif;
}
.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 352px;
	width: 100%;
}
.three-members {
	display: flex;
	max-width: 1124px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}
.team-img {
	border-radius: 50px;
}

/*project page*/
.sami-project {
	margin-top: 100px;
}

/*contact*/
.contact-wraper {
	max-width: 675px;
	width: 100%;
	margin: 0 auto;
}
.contact-shape {
	background-color: #45CFEA;
	border-radius: 35px;
	max-width: 675px;
	width: 100%;
	height: 70px;
	display: flex;
	margin-bottom: 55px;
}
.contact-icon {
	font-size: 30px;
	color: #2F365C;
}
.contact-h3 {
	font-size: 25px;
	font-family: 'Fredoka One', cursive;
	color: #2F365C;
	margin-left: 73px;
}
.cont {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

/*footer*/
footer {
	background-color: #285575;
}
.footer-icons {
	display: flex;
}
.white {
	color: white;
	margin-right: 20px;
}
.footer-div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.contact-icon {
	transition: 0.3s linear;
}
.contact-icon:hover {
	color: #45CFEA;
}